<!DOCTYPE html>
<html lang="cmn-Hans-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>A Backbonejs Twitter APP</title>
	<meta name="description" content="An personal twiiter app built with Backbonejs framework.">
	<meta name="author" content="DENG XIAODONG">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<script>
		window.template = function(id) {
			return _.template( $('#' + id).html() );
		};
	</script>
</head>
<body role="application">
	<div id="header">
			<img src="img/profile.jpg" class="img-circle">
		<div class="text-center">
			<h1 >Abraham Kagawa</h1>
			<h2>@abraham_kagawa</h2>
		</div>
	</div>
	<div class="container"  id="twiapp" role="main">
		<div id="write-twi">
			<div id="myTwtterApp" class="form-group">
				<form id="twi-form" action="" method="post" accept-charset="utf-8">
					<div class="twi-text">
						<textarea rows="3" name="" value="" placeholder="Write anything you want to share" class="tw_input form-control" aria-multiline="true" aria-required="true"></textarea>
					</div>

						<button type="button" role="button" class="pull-right" id="tweet">Tweet</button>

				</form>
			</div>
		</div>
		<div id="tab_box"><div id="all-tab"><a href="#/all">全部</a></div><div id="like-tab"><a href="#/like">LIKE</a></div></div>
		<div>
			<ul id="tweet-list">
			</ul>
		</div>
	</div>

	<!-- Templates -->

	<!-- 单条推文模板 -->
	<script type="text/template" id="li-template">
		<div class="tweet-container">
			<div class="dropdown-btn">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
				<div class="destroy fadeOutDown">删除</div>
			</div>
			<img src="img/profile.jpg" class="img-circle pull-left">
			<div class="content">
				<div class="namegroup">
					<span class="fullname">Abraham Kagawa</span> 
					<span>&nbsp;</span>
					<span class="username">@abraham_kagawa</span><span> - </span>
					<span class="tweet-date"><%- twiDateText %></span>
				</div>
				<div class="tweet-text">
					<%- text %>
				</div>
				<div class="iconContainer ">
					<span class="icon-comment"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
					<span class="icon-heart"><%= liked === true ? 
						'<i class="fa fa-heart" aria-hidden="true">' :
						'<i class="fa fa-heart-o" aria-hidden="true">' %></i></span>
				</div>
			</div>
		</div>
	</script>

	<!-- 评论列表模板 -->
	<script type="text/template" id="comment-template">
		<div class="comment-form">
			<fieldset>
			<input type="text" class="comment-input">
			<button type="button" role="button" class="comment-btn disabled">评论</button>
			</fieldset>
		</div>
		<ul class="comment-list">
		<% if (comments.length != 0 ) { %>
			<% _.each(comments, function(com) { %>
				<li><div class="comment-date"><%= _.escape(com.commentDateText) %></div>
					<div><%= _.escape(com.text) %></div>
				</li>
			<% }); %>
		<% } %>
		</ul> 
	</script>

	<!-- 单条评论的模板，以实现在列表顶部自动新增效果 -->
	<script type="text/template" id="new-comment">
		<div class="comment-date"><%= _.escape(comments[0].commentDateText) %></div>
		<div><%= _.escape(comments[0].text) %></div>
	</script>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/backbone-associations-min.js"></script>
	<script src="js/backbone.localStorage.js"></script>
	<script src="js/components/tweet.js"></script>
	<script src="js/components/tweets.js"></script>
	<script src="js/components/tweet-view.js"></script>
	<script src="js/components/app-view.js"></script>
	<script src="js/components/comment.js"></script>
	<script src="js/components/comments.js"></script>
	<script src="js/components/comment-view.js"></script>
	<script src="js/components/router.js"></script>
	<script src="js/components/app.js"></script>
	<script>
	$(document).ready(function(){
		$('#tweet').addClass('disabled');
		$('textarea').bind('input propertychange', function() {
		   $('#tweet').toggleClass('disabled', !($('textarea').val()));
		});
	 });

	$(document).on('click', function(event) {
		if (!$(event.target).closest($('.dropdown-btn')).length) {
			$('.destroy').removeClass('show').addClass('fadeOutDown');
		}
	})
	</script>
</body>
</html>