<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>My Twitter </title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="header">
			<img src="img/profile.jpg" class="img-circle">
		<div class="text-center">
			<h1 >Abraham Kagawa</h1>
			<h2>@abraham_kagawa</h2>
		</div>
	</div>
	<div class="container"  id="twiapp">
		<div id="write-twi">
			
			<div id="myTwtterApp" class="form-group">
				<form id="twi-form" action="" method="post" accept-charset="utf-8">
					<div class="twi-text">
						<textarea rows="3" name="" value="" placeholder="Write anything you want" class="form-control"></textarea>
					</div>

						<button type="button" class="btn btn-primary pull-right" id="tweet">Tweet</button>

				</form>
			</div>
		</div>
		<div>
			<ul id="tweet-list">
			</ul>
		</div>
	</div>

	<script type="text/template" id="li-template">
		<div class="dropdown-btn">
			<i class="fa fa-chevron-down" aria-hidden="true"></i>
			<div class="destroy">删除</div>
		</div>
		<img src="img/profile.jpg" class="img-circle pull-left">
		<div class="content">
			<div class="namegroup">
				<span class="fullname">Abraham Kagawa</span> 
				<span>&nbsp;</span>
				<span class="username">@abraham_kagawa</span><span> - </span>
				<span class="tweet-date"><%- twidate %></span>
			</div>
			<div class="tweet-text">
				<%- text %>
			</div>
			<div class="iconContainer ">
				<span class="icon-comment"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
				<span class="icon-heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
			</div>
		</div>

	</script>
	<script type="text/template" id="comment-template">
		<form id="twi-form" action="" method="post" accept-charset="utf-8">
			<input type="text" class="comment-input">
			<button type="button" class="btn btn-primary pull-right btn-comment">P.S</button>
		</form>
		<ul class="comment-list">
		<% if (comments.length != 0 ) { %>
			<% _.each(comments, function(com) { %>
				<li><%= _.escape(com.text) %></li>
			<% }); %>
		<% } %>
		</ul> 
	</script>
	<script type="text/template" id="new-comment">
		<%= _.escape(comments[0].text) %>
	</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/backbone-associations-min.js"></script>
	<script src="js/backbone.localStorage.js"></script>
	<script src="js/components/tweet.js"></script>
	<script src="js/components/tweets.js"></script>
	<script src="js/components/tweet-view.js"></script>
	<script src="js/components/app-view.js"></script>
	<script src="js/components/app.js"></script>
	<script src="js/components/comment.js"></script>
	<script src="js/components/comment-view.js"></script>
	<script>
	//activate tooltip
	$(document).ready(function(){
		$('#tweet').addClass('disabled');
		$('textarea').keyup( function() {
	    	$('#tweet').toggleClass('disabled', !($('textarea').val()));
	    });
	 });

	var $b = $('body');
    var normalw = 0;
    var scrollw = 0;
	var checkScrollBars = function(){
    	if($b.prop('scrollHeight')>$b.height()){
	        normalw = window.innerWidth;
	        scrollw = normalw - $b.width();
	        console.log('yes');
	        $('#container').css({marginRight:'-'+scrollw+'px'});
    	}
	}
	$(window).resize(checkScrollBars);
	</script>


</body>
</html>